{% extends "base.html" %}

{% load static %}

{% block title %}Song List{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css\playlist.css' %}">
    <script src="{% static 'js\collapsable.js' %}"></script>
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container">
    <h1>Song List</h1>

    <form class="search-sort-form" method="get" action="{% url 'playlist' %}">
        <div class = "search-bar-container">
            <input type="text" name="search" placeholder="Search songs..." value="{{ search_query }}">
            <button type="submit">Search</button>
        </div>
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort" onchange="this.form.submit()">
            <option value="name_a_z" {% if sort_option == "name_a_z" %}selected{% endif %}>Name A - Z</option>
            <option value="name_z_a" {% if sort_option == "name_z_a" %}selected{% endif %}>Name Z - A</option>
            <option value="newest" {% if sort_option == "newest" %}selected{% endif %}>Newest</option>
            <option value="oldest" {% if sort_option == "oldest" %}selected{% endif %}>Oldest</option>
            <option value="artist_a_z" {% if sort_option == 'artist_a_z' %}selected{% endif %}>Artist A - Z</option>
            <option value="artist_z_a" {% if sort_option == 'artist_z_a' %}selected{% endif %}>Artist Z - A</option>
        </select>
    </form>

    <button type="button" class="collapsible" id="collapse" onclick="myFunction()">Filters</button>
    <div class="content">
        <table class="included-genre-table">
            <legend>Included Genres:</legend>
            <tr>
                {% for genre in genres %}
                <td>
                    <input type="checkbox" name="included_genre" value="{{ genre.name }}" id="included_{{ genre.name|slugify }}">
                    <label for="included_{{ genre.name|slugify }}">{{ genre.name }}</label>
                </td>
                {% if forloop.counter|divisibleby:5 and not forloop.last %}
                    </tr><tr>  <!-- Start a new row after every 5 genres -->
                {% endif %}
            {% empty %}
                <tr><td>No genres available.</td></tr>
            {% endfor %}
            </tr>
        </table>

        <br>

        <table class="excluded-genre-table">
            <legend>Excluded Genres:</legend>
            <tr>
                {% for genre in genres %}
                <td>
                    <input type="checkbox" name="excluded_genre" value="{{ genre.name }}" id="excluded_{{ genre.name|slugify }}">
                    <label for="excluded_{{ genre.name|slugify }}">{{ genre.name }}</label>
                </td>
                {% if forloop.counter|divisibleby:5 and not forloop.last %}
                    </tr><tr>  <!-- Start a new row after every 5 genres -->
                {% endif %}
            {% empty %}
                <tr><td>No genres available.</td></tr>
            {% endfor %}
            </tr>
        </table>

        <br>

        <div class="button-container">
            <button type="submit" class="apply-filters">Apply Filters</button>
            <button type="button" class="clear-filters">Clear Filters</button>
        </div>

    </div>

    <ul class="song-list">
        {% for song in songs %}
            <li class="song-item">
                <span class="song-title">{{ song.title }}</span> 
                <span class="song-details">({{ song.sorted_genres|join:", " }}) by {{ song.artists.all|join:", " }}</span>
                <br>
                <em class="release-date">Released on: {{ song.release_date }}</em>
            </li>
        {% empty %}
            <li>No songs available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}