{% extends "base.html" %}

{% load static %}

{% block title %}Song List{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css\playlist.css' %}">
{% endblock %}

<!-- Main Content -->
{% block content %}
    <h1>Song List</h1>

    <ul class="song-list">
        {% for song in songs %}
            <li class="song-item">
                <span class="song-title">{{ song.title }}</span> 
                <span class="song-details">({{ song.genres.all|join:", " }}) by {{ song.artists.all|join:", " }}</span>
                <br>
                <em class="release-date">Released on: {{ song.release_date }}</em>
            </li>
        {% empty %}
            <li>No songs available.</li>
        {% endfor %}
    </ul>
{% endblock %}